
#container {
	border-radius: 25px;
	max-width: 900px;
	padding: 20px 50px;
}

hr {
	border: 1px solid #E5E5E5;
}

@media (max-width: 900px) {
	#container {
		padding: 5px 2px;
	}

	td {
		padding: 15px 2px;
	}
}
