body {
	background-color: #efefef;
	font-family: sans-serif;
}
#container {
	border-radius: 25px;
	margin: 20px auto;
	max-width: 900px;
	padding: 20px 50px;
}

hr {
	border: 1px solid #E5E5E5;
}

@media (max-width: 900px) {
	#container {
		margin: 1px;
		padding: 5px 2px;
	}

	td {
		padding: 15px 2px;
	}
}
